<!DOCTYPE html>
<html lang="en">
<head>
  
  <!-- 
  
    Scott Shervin for scottshevrin.com
    Check My Resume.
    
  -->
 
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/x-icon">
  <link rel="apple-touch-icon" href="/favicon.png">

  <title>ScottShevrin</title>

  <link rel="stylesheet" type="text/css" href="dist/style/normalize.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="dist/style/style.min.css">
</head>
<body>