$color_primary: #428bca;
$color_success: #5cb85c;
$color_info: #5bc0de;
$color_warning: #f0ad4e;
$color_danger: #d9534f;

$img-cover: '../img/cover.jpg';
$texture-backing: '../img/texture/clean-textile.png';
$texture-paper: '../img/texture/groovepaper.png';
// $img-cover: '../img/background.png';

$paper-bg: #EFF0E3;
$corner: 1rem;

$color-1:#DED4B9; //Tan
$color-2:#46433A; //Black
$color-3:#CE534D; //Red
$color-4:#64B6B1; //Blue

$bg: $color-1;
$fg: $color-1;