<section id="cover">
  <div class="body">
    <div><img id="cover-img" alt="Scott Shevrin" src="dist/img/profile-pic-mobile.jpg" class="img-circle cover-img" ></div>
    <div><span class="title">Scott Shevrin</span></div>
    <div>
      <ul class="social">
       <li><a href="http://facebook.com/funnyjk"><i class=" fa fa-facebook"></i></a></li>
       <li><a href="https://www.linkedin.com/pub/scott-shevrin/9a/6a2/a9"><i class="fa fa-linkedin-square"></i></a></li>
       <li><a href="http://github.com/funnyjk"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <div class="btn">
        <a href="/resume" target="_blank" onClick="ga('send', 'event', 'Resume', 'download', 'mobile');"><!-- <i class="cover fa fa-download" --><span>Resume (PDF)</span></a>
    </div>
  </div>
  <div><img id="sig" src="dist/img/sig.png"></div>
</section>
