<div id="navbar">
  <div class="nav"> 
    <ul class="nav-list">
<!--       <li class="top">
        <a href="#cover">Top</a>
      </li> -->
      <li class="btn">
        <a href="/resume" target="_blank" onClick="ga('send', 'event', 'Resume', 'download', 'desktop');"><!-- i class="cover fa fa-download"> --><span>Resume (PDF)</span></a>
      </li>
      <!--<li class="split-button right">
        <a href="//tatiradziun.com" target="_blank">BFF</a><a href="//zacharyblock.com" target="_blank">BFF</a>
      </li> -->
    </ul>
  </div>
</div>


<div class="nav-mobile">
  <ul class="nav-mobile-list">
    <li>Link 1</li>
    <li>Link 2</li>
  </ul>
</div>